<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <div id="stat">
        <div class="stats">
          <a href="<%= followings_user_path(@user) %>">
            <strong id="following" class="stat">
              <%= @user.following_users.count %>
            </strong> following
          </a>
          <a href="<%= followers_user_path(@user) %>">
            <strong id="followers" class="stat">
              <%= @user.followed_users.count %>
            </strong> followers
          </a>
        </div>
       </div>
    </section>
    <h4><%= link_to "Edit Profile", edit_user_path, class: "btn btn-sm btn-success" %></h4>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
      <% if @user.microposts.any? %>
        <h4>Microposts (<%= @user.microposts.count %>)</h4>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
    <% end %>
  </div>
  <% unless @article.pictures.empty? %>
    <p>画像です</p>
    <ul>
      <% @article.pictures.each do |pic| %>
          <li id="picture_<%= pic.id %>">
            <%= image_tag pic.image.url %>
          </li>
      <% end %>
    </ul>
<% end %>
</div>